/*
    Components: Row
    ---
    Creates a horizontal row with padding
*/

.c-row {
    //@include clearfix;
    @include padding-tb($alpha-leading,0);
    @include padding-lr($columns-gutter,$columns-gutter);

    @include mq(bp1) {
        @include padding-tb($alpha-leading * 2,.5);
        @include padding-lr($columns-gutter * 2,$columns-gutter * 2);
    }

    @include mq(bp3) {
        @include padding-tb($alpha-leading * 3,$beta-leading);
        @include padding-lr($columns-gutter * 3,$columns-gutter * 3);
    }

    @include mq(bp4) {
        @include padding-tb($alpha-leading * 4,2.5);
        @include padding-lr($columns-gutter * 4,$columns-gutter * 4);
    }
}

.c-row--alpha {
    background-color: palette(color-neutral,x-light);
}

.c-row--beta {
    color: palette(color-neutral,light);
    background-color: palette(color-neutral,dark);
}
