/*
    Components: Intro
    ---
    The intro on the homepage
*/


.c-intro {
    background-color: palette(color-alpha);
    height: 85vh;
    min-height: 300px;
    display: flex;
    align-items: flex-end;
    //align-items: center;
    justify-content: flex-start;

    @include mq(bp3) {
        height: 65vh;
        //align-items: center;
        background-image: url('../img/wally-color.jpg');
        background-repeat: no-repeat;
        background-position: right -150px bottom -60px;
        background-size: 650px 650px;
    }

    @include mq(bp4) {
        height: 85vh;
        background-position: right -100px bottom -60px;
        background-size: 650px 650px;
    }

    @include mq(bp5) {
        background-size: 800px 800px;
        background-position: right -120px bottom -60px;
    }

    @include mq(bp6) {
        background-size: 900px 900px;
        background-position: right 0 bottom -60px;
    }

}

    .c-intro__container {
        margin: 0;

        @include mq(bp3) {
            max-width: 60%;
        }
    }
