@font-face {
    font-family: 'Dala Floda Web';
    src: url('/fonts/DalaFloda-Medium-Web.eot');
    src: url('/fonts/DalaFloda-Medium-Web.eot?#iefix') format('embedded-opentype'),
        url('/fonts/DalaFloda-Medium-Web.woff') format('woff'),
        url('/fonts/DalaFloda-Medium-Web.ttf') format('truetype'),
        url('/fonts/DalaFloda-Medium-Web.svg#DalaFloda-Medium') format('svg');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
}
