<section class="c-row c-doormat">
    <div class="o-container">
        <div class="c-main-section">
            <h2>An interesting project? <a class="c-link-neutral-xx-dark-border" href="mailto:hallo@mrhannes.be">Get in touch</a>.</h2>
        </div>
        <div class="c-main-section">
            <div class="o-grid o-grid--gutter">
                <div class="o-grid__item u-1-of-2-bp4">
                    <div class="o-grid o-grid--gutter">
                        <div class="o-grid__item u-1-of-2-bp3">
                            <p class="u-ms-1">
                                Hannes D'Hulster <br>
                                BTW BE 889.077.056 <br>
                                Sint-Ewoudsstraat 31 <br>
                                8200 Brugge
                            </p>
                        </div>
                        <div class="o-grid__item u-1-of-2-bp3">
                            <p class="u-ms-1">
                                <a class="c-link-neutral-xx-dark-border" href="tel:+32 495 12 83 23">+32 495 12 83 23</a> <br>
                                <a class="c-link-neutral-xx-dark-border" href="mailto:hallo@mrhannes.be">hallo@mrhannes.be</a> <br>
                                <a class="c-link-neutral-xx-dark-border" href="https://twitter.com/hannesdh">Twitter</a> <br>
                                <a class="c-link-neutral-xx-dark-border" href="https://www.linkedin.com/in/hannesdh">LinkedIn</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="o-grid__item u-1-of-2-bp4">
                    <p class="u-ms-1">
                        Mijn inspiratiebronnen in jouw mailbox? Laat je mailadres achter.
                    </p>
                    <form action="//nerdlab.us6.list-manage.com/subscribe/post?u=26083caa15a40f691a214b23c&amp;id=c0139606f9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <fieldset class="c-subscribe">
                            <div style="position: absolute; left: -5000px;"><input type="text" name="b_26083caa15a40f691a214b23c_c0139606f9" tabindex="-1" value=""></div>
                            <div class="o-grid o-grid--gutter-sm o-flex">
                                <p class="o-grid__item c-subscribe__input">
                                    <input type="email" class="c-input-text c-input-text--md" placeholder="email@address.com" name="EMAIL" class="required email" id="mce-EMAIL">
                                </p>
                                <p class="o-grid__item c-subscribe__button">
                                    <button type="submit" class="c-button c-button--alpha c-button--md">Ok!</button>
                                </p>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <footer class="c-main-section">
            <div class="o-grid o-grid--gutter">
                <div class="o-grid__item u-1-of-2-bp3">
                    <p class="u-ms-1">
                        <strong class="c-logo">Mr. Hannes</strong> <span class="u-color-neutral-base">&ndash; &copy; 2015</span>
                    </p>
                </div>
                <div class="o-grid__item u-1-of-2-bp3">
                    <p class="u-ms-1 u-color-neutral-base">
                        Design door <a class="c-link-neutral-base" href="https://twitter.com/simoncoudeville">Simon</a>. Foto door <a class="c-link-neutral-base" href="https://twitter.com/madrilevi">Evi</a>.
                    </p>
                </div>
            </div>
        </footer>
    </div>
</section>

